* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.navbar {
    position: fixed;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    top: 0;
    padding: 1.5rem;
}

.menu {
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
}

.menuLink {
    color: var(--claro);
    text-decoration: none;
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
    color: white;
    font-size: 25px;
}

.menuLink::after {
    content: ' ';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;

}

.menuLink:hover::after {
    width: 100%;

}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fotoCamille {
    width: 250px;
    height: 250px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
}

.text {
    font-size: 2rem;
    color: var(--claro);
}

h1 {
    font-size: 2.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
    font-size: 2.5rem;
    color: var(--claro);
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(45px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre-parag {
    text-align: justify;
    font-size: 20px;

}

.projetos {
    padding: 6rem 2rem;
}

.projetos-titulo {
    font-size: 2.5rem;
    color: var(--claro);
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: all 0.5s ease;
    gap: 2rem;
    cursor: pointer;
    padding: 6px;
}

.caixa-infotext {
    padding: 1.5rem;
}

.info-projetos {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.parag-projetos {
    text-align: justify;
    padding: 12px;
}
.contatos{
padding: 6rem 2rem;
}
.contatos-titulos{
font-size: 2.5rem;
    color: var(--claro);
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.formulario-contato{
max-width: 600px;
margin: 0 auto;
backdrop-filter: blur(45px);
    background: rgba(255, 255, 255, 0.05);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}
.grupo-form{
    margin-bottom: 1.5rem;
}
.campo-form{
width: 100%;
padding: 1rem;
 background: rgba(255, 255, 255, 0.05);
 border-radius: 10px;
 color: var(--claro);
 border: 1px solid var(--vidro);
 outline: none;
}
.campo-form:focus{
    border-color: var(--secundaria);
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
}
.btn-form{
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}
.btn-form:hover{
    transform: translateY(-4px);
    box-shadow: rgba(79, 70, 229, 0.4);
}
.particulas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: 
    radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
    var(--maisEscuro);
}
@keyframes flutuar{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
}